/* Common styles */
body {
    font-family: 'Didot', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a3ccee;
    color: #333;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #6ba6d6;
    border-bottom: 2px solid #5b8fba;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

#Home {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    position: absolute;
    top: 8px;
    right: 8px;
}

#Home:hover {
    background-color: #5a8cc0;
    transform: scale(1.05);
}

#meets-list {
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#meets-list h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
}

li:last-child {
    border-bottom: none;
}

li a {
    display: block;
    color: #000000;
}

li a:hover {
    background-color: #bcdaf3;
    border-radius: 5px;
}

#meet-results {
    padding: 20px;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.table-wrapper {
    overflow-y: auto;
    overflow-x: auto;
}

#athlete-table {
    width: 100%;
    border-collapse: collapse;
}

#athlete-table th {
    position: sticky;
    top: 0;
    background-color: #6ba6d6;
    color: white;
    z-index: 2; 
    text-align: left;
}

#athlete-table th, #athlete-table td {
    border: 1px solid #ccc;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
    height: auto;
}

#meet-results td a {
    display: block;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#meet-results td a:hover {
    background-color: #bcdaf3;
    color: #000;
}

#meet-results th:nth-child(4), 
#meet-results th:nth-child(5), 
#meet-results td:nth-child(4), 
#meet-results td:nth-child(5) {
    display: none;
}